h1 {
  margin: 0;
  transition: 1s;
}


.changable-image {
  height: 500px;
}

.post h2 {
  font-size: 25px;
}

.poop h2 {
  color: #DE7D48;
  font-size: 20px;
}

.poop h2::before {
  content: '💩';
}

.warm h2,
.warm span {
  color: #E3A72F;
  font-size: 35px;
}

.hot h2,
.hot span {
  color: crimson;
  font-size: 45px;
  font-style: italic;
}

.hot h2::after {
  content: '🔥';
}


.hearts {
  margin-left: 10%;
}

.heart {
    position: relative;
    width: 100px;
    height: 90px;
    display: inline-block;
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #eee;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

.rating {
  width: 90%;
  background-color: #ddd;
}

.on:before, .on:after {
    background: red;
}

.rating p {
  font-family: Arial;
  font-size: 36px;
  color: #aaa;
  margin: 4%;
  padding-top: 1%;
}
